<form name="input" action="/create_user" method="post">
  First Name: <input type="text" name="first_name">
  Last Name: <input type="text" name= "last_name">
  Email: <input type="text" name= "email">
  Password: <input type="text" name= "password">


  <input type="submit" value="Submit">

</form>
