<!DOCTYPE html>
<html lang="en">
<body>

  <nav>

    <div class="brand"><a href="/">SHAMANGO</a></div>
      <% if session[:logged_in_user_id] %>
        <form action="/search" method= "post">
         Search by full name: <input type="text" name="name">
        <input type="submit" value="Search">
      </form>
        <% end %>
  </nav>

  <%= yield %>
</body>
</html>