<p>Please login or Create User</p>
<form name="input" action="/" method="post">
Email: <input type="text" name="email">
Password: <input type="password" name="password">
<input type="submit" value="Submit">

</form>
<a href ="/new">Create a user</a>