<p>Please login or Create User</p>
<form name="input" action="/" method="get">
Username: <input type="text" name="user">
<input type="submit" value="Submit">

</form>
<a href ="/create">Create a user</a>